# IDE / Editor
.idea/
.vscode/
.tm_properties
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
/build
/dist

# Jupyter
.ipynb_checkpoints/
*.ipynb
notebooks/

# Database
**/*.db

# Sphinx build output
_build/

# Project-specific
pdf/
stepn_out/
tests/data/simulations/
instance/
